/* author ： CR7-wb */

/* 一些公共的样式，比如 左浮动、有浮动、版心等等 */


/* 版心 */
.w {
	width: 1190px;
	margin: auto;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.style-red {
	/* 京东主色调 */
	color: #f10215!important;
}
li {
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F6F6F6;
}
/* 京东 顶部 开始 */
.J_event {
	background-color: #000;
}
.J_event a {
	display: block;
	height: 80px;
	background: url('../images/header.jpg') no-repeat;
	position: relative;
}
.J_event a i {
	font-family: icomoon;
	font-style: normal;
	width: 20px;
	height: 20px;
	color: #fff;
	position: absolute;
	top: 5px;
	right: 0;
	text-align: center;
	line-height: 20px;
	background: rgba(255, 204, 139, 0.5);
}

@font-face {
 	font-family: 'icomoon';
 	src:  url('../fonts/icomoon.eot?7kkyc2');
 	src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
 	  url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
 	  url('../fonts/icomoon.woff?7kkyc2') format('woff'),
 	  url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
 	font-weight: normal;
 	font-style: normal;
}
/* 京东 顶部 结束 */

/* 快捷导航栏 */
.shortcut {
	height: 30px;
	line-height: 30px;
	background-color: #E3E4E5;
	border-bottom: 1px solid #DDDDDD;
	font-size: 12px;
	color: #9D9D9D;
}
.shortcut a {
	color: #9D9D9D;
	font-size: 12px;
	text-decoration: none;
}
.shortcut a:hover {
	color: #c81623; 
}
.shortcut .fr li {
	float: left;
}
.shortcut .fl li{
	margin-left: 200px;
	height: 30px;
}
.shortcut .fl i {
	font-family: 'icomoon';
	font-size: 14px;
	font-style: normal;
	
	color: #f10215;
	height: 30px;

}
.spacer {
	height: 10px;
	width: 1px;
	background-color: #ccc;
	margin: 10px 10px 0;
}
.dropdown {
	padding-right: 15px;
	position: relative;
}
.dropdown i {
	/* 不用定位，会造成偏差，html 的字按基线对齐， */
	font-family: "icomoon";
	font-style: normal;
	position: absolute;
}
.erweima{
	width: 60px;
	height: 60px;
	border: 1px solid #ccc;
	padding: 3px;
	position: absolute;
	margin-top: 0;
	margin-left: -8px;
}


/* header 头部开始 */
.header {
	height: 140px;
}

.inner {
	height: 140px;
	background-color: pink;
	position: relative;
}
.logo{
	width: 190px;
	height: 171px;
	position: absolute;
	background-color: #fff;
	margin-top: -31px;
	box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
}
.logo h1 {
	/* h 标签带margin上下，我们不需要 */
	margin: 0;
}
.logo a {
	display: block;
	width: 190px;
	height: 170px;
	background: url('../images/logo.png') no-repeat;
	/* 不显示a 里的字，但是我们不要删除掉，用户搜索会比较重要 
	   我们用首行缩进，把字移除标签范围，然后再隐藏掉
	*/
	text-indent: -9999px;
	overflow: hidden;
}








